@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Oxanium:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');



/* *{
border: solid red 1px;
box-sizing: border-box;
} */

body, html{
/* background-color: rgb(20, 20, 20); */
font-family: 'Oxanium', cursive;
}

html{
display: flex;
justify-content: center;
padding-top: 3vh;
padding-bottom: 3vh;
height: 90vh;
}

body{
width: 61.8vw;
/* height: 100%; */
background-color: rgb(26, 26, 26);
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

ul{
    margin: 0px;
    height: 90%;
columns: 4;
color: rgb(100, 195, 105);
font-size: 1.7vh;
padding: 10px;
/* gap: 10px; */
display: grid;
grid-template-columns: 25% 25% 25% 25%;
grid-template-rows: 20% 20% 20% 20%;
}

.main-div{
    background-color: rgb(135, 168, 154);
    display: flex;
    flex-direction: row;
    height: 61.8vh;
    width: 50vw;
    border-radius: 5px;
}

.left-div{
    padding-top: 0.5vh;
    background-color: rgb(62, 62, 62);
    flex-grow: 3;
    border: solid 2px black;
    overflow: auto;
    flex-basis: 0;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.right-div{
    flex-grow: 1;
    border: solid;
    border-width:  2px 2px 2px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 0;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

h3{
    margin-left: 0.5vh;
}

h1{
    min-height: 50px;
    font-family: 'Audiowide', cursive;
    font-size: 60px;
    color: rgb(100, 195, 105);
    text-shadow: 0px 0px 5px;
    /* flex-basis: 0; */
}

button{
    margin: 2vh;
    width: 35%;
    height: 15%;
    border-radius: 0;
    background-color: rgb(47, 47, 47);
    color: rgb(100, 195, 105);
    font-family: 'Oxanium', cursive;
    font-size: 0.65vw;
    border-radius: 5px;
    text-shadow: 0px 0px 2px;
}

hr{
    border: solid black 1px;
    width: 100%;
}

.inputs{
    display: flex;
    flex-basis: 0;
    flex-direction: column;
}

input{
    /* color: red; */
    font-family: 'Oxanium', cursive;
    margin: 0.8vw 0px;
}

li{
    text-align: center;
    padding: 0.7vw 0px;
    list-style: none;
    background-color: rgb(47, 47, 47);
    border-top: solid 1px rgb(96, 163, 101);
    border-left: solid 1px rgb(96, 163, 101);
    border-right: solid 1px rgb(87, 109, 89);
    border-bottom: solid 1px rgb(87, 109, 89);
    text-shadow: 0px 0px 2px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    margin: 0.5vw;
    margin-block-start: 0px;
    border-radius: 5px;
    font-size: 0.8vw;
    animation-name: none;
animation-duration: 3s;
animation-iteration-count: infinite;
}

@keyframes colorRotate {
    from {
        color:#f40a0a;
        text-shadow: 0px 0px 5px #f40a0a;
    }
    16.6% {
        color: rgb(232, 163, 13);
        text-shadow: 0px 0px 5px rgb(232, 163, 13);
    }
    33.3% {
        color: #d3eb19;
        text-shadow: 0px 0px 5px #d3eb19;
    }
    50% {
        color: rgb(15, 228, 79);
        text-shadow: 0px 0px 5px rgb(15, 228, 79);
    }
    66.6% {
        color: #1099e8;
        text-shadow: 0px 0px 5px #1099e8;
    }
    83.3% {
        color: rgb(103, 22, 233);
        text-shadow: 0px 0px 5px rgb(103, 22, 233);
    }
    to {
        color: #ef0fa5;
        text-shadow: 0px 0px 5px #ef0fa5;
    }
}
  

li>button{
    width: fit-content;
    height: fit-content;
    border-radius: 0;
    background-color: rgb(59, 59, 59);
    color: rgb(100, 195, 105);
    font-family: 'Oxanium', cursive;
    border-radius: 4px;
}